<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Forward Authorization Header
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Serve existing static files directly from public folders
  RewriteCond %{DOCUMENT_ROOT}/backend/public/$1 -f
  RewriteRule ^(.*)$ /backend/public/$1 [L]

  RewriteCond %{DOCUMENT_ROOT}/frontend/dist/$1 -f
  RewriteRule ^(.*)$ /frontend/dist/$1 [L]
</IfModule>
